
<div class="row">
  <div class= "small-4 small-centered columns">
    <img id="home-pic" src='http://fc01.deviantart.net/fs70/f/2012/128/9/f/akai_ketsueki__s_baker_cat_by_fireredalbinoumbreon-d4yz07q.jpg'>
  </div>
</div>

<div class="row">
  <div class="small-7  small-centered columns">
    <div id="quote-body">
      <%= @quote.description unless @quote.nil? %>
    </div>
    <div id="quote-author">
      - <%= @quote.author unless @quote.nil? %>
    </div>
  </div>
</div>
