
<div class="row">
  <div class= "small-4 small-centered columns">
      <%= link_to(image_tag('BetaBuddy-300.jpg', id: "home-pic"), search_path) %>
  </div>
</div>

<div class="row">
  <div class="small-8  small-centered columns">
    <div id="quote-body">
      <%= @quote.description unless @quote.nil? %>
    </div>
    <div id="quote-author">
      - <%= @quote.author unless @quote.nil? %>
    </div>
  </div>
</div>
