
<%= simple_form_for :search, url: search_path, method: :get do |f| %>
  <%= f.input :search, :required => false %>
  <%= f.button :submit, "Search" %>
<% end %>

<% if @proses.empty? %>
  <div>
    Sorry, there were no matches.
  </div>
<% else %>
  <% @proses.each do |prose| %>
    <div>
      <%= link_to prose.title, user_prose_path(prose.user ,prose) %>
    </div>
  <% end %>
<% end %>
