#story-canvas {
  background-image:url('http://www.freefever.com/stock/white-parchment-paper-texture.jpg');
  border-radius:20px;
  height:100%;
}

html body .row #edit-links ul li {
  margin-top:10px;

}

.prose-user, .prose-genre {
  font-size:1.3em;
  text-align:center;
}

.prose-genre {

}

