#story-canvas {
  background-image:url('http://www.freefever.com/stock/white-parchment-paper-texture.jpg');
  border-radius:20px;
  height:100%;
}

html body .row #edit-links ul li {
  margin-top:10px;

}

.prose-user, .prose-genre {
  font-size:1.3em;
  text-align:center;
}

.prose-genre {

}

#beta-read-button {
  padding: 5px 20px;

  a {
    color:white;
    font-size:1.5em;
  }
}

/* Below this line is search page styling */
html body .row {
  .no-matches, p {
    color:#333;
    font-size:1.1em;
    text-align:center;
    font-family: 'Love Ya Like A Sister', cursive;
  }

  #sorry {
    font-size:1.3em;
  }

  .search-results {
    margin-top:30px;
  }

  .search-links {
    font-family: 'Marvel', sans-serif;
    font-size:1.3em;
  }

  label {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size:1.2em;
  }
}

/* Below is show page styling*/

#select_form {
  display:inline-block;
  margin-top:2%;
  float:right;
  padding-right:1em;

  #the-version{
    margin-left:30px;
    width:3em;

  }

  .button {
    font-size:1.2em;
    padding:5px 10px;
  }
}

#edit-links {
  display:inline-block;
  margin-top:15px;
  padding-left:1em;
}

#prose-content {
  margin-top:-50px;
}

#prose-story {
  margin-top:30px;
  margin-bottom:40px;
  p {
    text-align:left;
    font-size:1em;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;  }
}

html body .row .button {
  padding:5px 30px;

  #back-link a {
    color:white;
  }
}

@media only screen and (max-width: 40em) {
  html body .row {
    .search-links {
      font-size:1.5em;
    }

    #sorry {
      font-size:1.6em;
    }

    p {
      font-size:1em;
    }

    .prose-user, .prose-genre {
      font-size:0.8em;
    }

    #prose-content {
      h1{
        margin-top:1em;
        font-size:1.3em;
      }
    }


    #select_form {
      margin-right:2em;
      margin-bottom:1em;
    }
  }
}

@media only screen and (min-width: 40.063em) {
  html body .row {
    .search-links {
      font-size:4em;
    }

    #sorry {
      font-size:2em;
    }

    p {
      font-size:1.4em;
    }
  }
}

/* Below is styling for the edit and new page */

html body .row {
  #prose_description {
    height:350px;
  }
}

@media only screen and (min-width: 40.063em) {
  html body .row {
    #prose_description {
      height:420px;
    }
  }
}
