

/* Small Screens */
@media only screen {
  .name h1 {
    font-family: 'Love Ya Like A Sister', cursive;
  }

  #quote-body {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1em;
    transition-property: font-size;
    transition-duration:3s;
    -webkit-transition: width 3s; /* Safari */
  }

  #quote-author {
    text-align: right;
    font-family: 'Marvel', sans-serif;
    font-size:1em;
    padding-right:7%;
  }

  #home-pic {
    padding-bottom:5%;
  }

}

@media only screen and (max-width: 40em) {
  #quote-body {
    font-size: 1.3em;
  }

  #quote-author {
    font-size:1.1em;
  }
}

/* Medium screens */
@media only screen and (min-width: 40em) and (max-width: 40.063em) {
  #quote-body {
    font-size: 1.5em;
  }

  #quote-author {
    font-size:1.3em;
  }
}

@media only screen and (min-width: 40.063em) {
  #quote-body {
    font-size: 1.7em;
  }

  #quote-author {
    font-size:1.7em;
  }
}

